* {
  text-align: center;
}

li{
  list-style: none;
}

.square{
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 5px;
  outline: 0;
  font-size: 25px;
  font-weight: 700;
  border: solid black 5px;
}

.move{
  background-color: white;
  border: none;
  outline: 0;
  font-size: 15px;
}
.move:hover{
  border: solid black 1px;
  cursor: pointer;
}
